.body {
    background-color: #FFEFD5;
}

#sidebar {
    background-color: white;
    height: 100%;
    border: solid white;
    border-radius: 5px;
}

.shaddow:hover {
    -webkit-box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
}