<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cluster - 讀書會預覽</title>
        <meta charset="UTF-8">
		<link rel="Shortcut Icon" type="image/x-icon" href="/Cluster-Frontend/src/logo.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" href="/Cluster-Frontend/style/club.css">        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/Cluster-Frontend/app/club/club.js"></script>
    </head>
    <body class="body">
        <div id="navbar"></div>

        <div class="container">
          <div class="row profile">
		        <div class="col-md-3">
					<div id="sidebar"></div>
					<br>			        
		        </div>
		    <div class="col-md-9">
				<div class="row">
					<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
						<div class="page-header">
							<h2>讀書會簡介</h2>
						</div>

						<div class="panel panel-default">
							<div class="panel-body">							
							   <p id="description"></p>
							   <hr>
							   <h4>資本資訊</h4>
							   <div class="row">
								   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<p id="clubtype">類別：資訊類</p>
								   </div>
								   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<p id="clubCreateTime">創立時間：</p>
								   </div>
							   </div>
							    <div class="row">
								   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<p id="clubPlace">聚會地點：</p>
								   </div>
								   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<p id="clubMemberNumber">讀書會人數：</p>
								   </div>
							   </div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-body">
								<h4>近期聚會</h4>
								<hr>
								<div class="row">
									<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
										<h3>第一次讀書會</h3>
										<h5>政大星巴克</h5>
										<p>台北市文山區指南路二段64號</p>
										<br>
										<p>5 人將參加</p>
									</div>
									<h3>2017/5/23</h3>
									<h3>7:00 PM</h3>
								</div>
							</div>
						</div>

					</div>
				</div>
		    </div>
	        </div>
        </div>
		<div id="footer"></div>
    </body>
</html>
