<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cluster - 會後統整</title>
        <meta charset="UTF-8">
		<link rel="Shortcut Icon" type="image/x-icon" href="/Cluster-Frontend/src/logo.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" href="/Cluster-Frontend/style/club.css">       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="/Cluster-Frontend/app/club/report.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/Cluster-Frontend/app/club/club.js"></script>
		<script src="/Cluster-Frontend/app/club/report.js"></script>
    </head>
    <body class="body">
       <div id="navbar"></div>

        <div class="container">
          <div class="row profile">
		        <div class="col-md-3">
			        <div class="shaddow" id="sidebar"></div>
					<br>
		        </div>
		    		<div class="col-md-9">
                		<div class="row">
							<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
								<div class="page-header">
									<h2>會後統整</h2>
								</div>
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<h4>選擇讀書會</h4>
									</div>
									<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
										<select id="meetsSelect" class="form-control" required="required">
											
										</select>
									</div>
								</div>
								<br>													
								<div>
									<iframe id="hackmd" class="shaddow" width="100%" height="700" frameborder="0"></iframe>
								</div>
							</div>
						</div>
					</div>
		    	</div>
	        </div>
        </div>
		
		<div id="footer"></div>
    </body>
</html>
