<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">        
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">            
            <div class="navbar-header">               
                <a class="navbar-brand" href="#">Cluster</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">               
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">sign up</a></li>
                    <li><a href="#">log in</a></li>                   
                </ul>
            </div>
        </nav>
        
        <div class="container">
          <div class="row profile">
		        <div class="col-md-3">
			        <div class="profile-sidebar">				        
				        <div class="profile-userpic">
					        <img src="../../src/clusterImg.jpg" class="img-responsive" alt="">
				        </div>				        
				        <div>
						    <h3>讀書會名稱</h3>					        
				        </div>				        				        				        
				        <div>
					        <ul class="nav">
						        <li class="active">
							        <a href="./clubIndex.html">
							            <i class="glyphicon glyphicon-home"></i>
							            簡介
                                    </a>
						        </li>
						        <li>
							        <a href="./clubMember.html">
							            <i class="glyphicon glyphicon-user"></i>
							            成員
                                    </a>
						        </li>
                                <li>
							        <a href="./clubReport.html" target="_blank">
							            <i class="glyphicon glyphicon-folder-open"></i>
							            會後整理
                                    </a>
						        </li>
                                <li>
							        <a href="./clubDiscussion.html">
							            <i class="glyphicon glyphicon-globe"></i>
							            討論版 
                                    </a>
						        </li>
						        <li>
							        <a href="./clubCanlendar.html">
							            <i class="glyphicon glyphicon-calendar"></i>
							            行事曆 
                                    </a>
						        </li>                                
                                <li>
							        <a href="./clubVote.html">
							            <i class="glyphicon glyphicon-question-sign"></i>
							            聚會時間投票
                                    </a>
						        </li>						        
					        </ul>
							<div>
					        	<button type="button" class="btn btn-danger btn-sm">退出社團</button>					        
				        	</div>
				        </div>				        
			        </div>
		        </div>
		    <div class="col-md-9">
				<div class="row">
					<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
						<div class="page-header">
							<h2>討論版</h2>
						</div>
					</div>
				</div>
				<div>					
					<div class="row">
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
							
							<div class="panel panel-default">
								<div class="panel-body">																   
									 <strong>發布留言</strong>	
									 <hr>
									 <textarea class="form-control" rows="5" id="comment" placeholder="發表一些留言吧..."></textarea>
									 <br>
									 <div class="pull-right">
									 	<button type="button" class="btn btn-primary">發布</button>
									 </div>
								</div>
							</div>
							
						</div>
					</div>					
				</div>
		    </div>
	        </div>
        </div>

    </body>
</html>