<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cluster - 簡介</title>
        <meta charset="UTF-8">
		<link rel="Shortcut Icon" type="image/x-icon" href="/Cluster-Frontend/src/logo.ico" />		
        <meta name="viewport" content="width=device-width, initial-scale=1">        
		<link rel="stylesheet" href="/Cluster-Frontend/style/calendar.css">
		<link rel="stylesheet" href="/Cluster-Frontend/style/club.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">        
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/Cluster-Frontend/app/club/introduction.js"></script>
		<script src="/Cluster-Frontend/app/club/club.js"></script>		
    </head>
    <body class="body">
        <div id="navbar"></div>

        <div class="container">
          <div class="row profile">
		        <div class="col-md-3">
			        <div class="shaddow" id="sidebar"></div>
					<br>
		        </div>
		    <div class="col-md-9">
				<div class="row">
					<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
						<div class="page-header">																						
							<h2>讀書會簡介</h2>
						</div>
						<div class="pull-right">
							<button type="button" class="btn btn-default" style="color:#FF5511;" id="editClub">編輯資訊</button>								
						</div>
						<br><br>

						<div class="panel panel-default shaddow">
							<div class="panel-body">
							   <p id="description"></p>
							   <hr>
							   <h4>資本資訊</h4>
							   <div class="row">
								   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<p id="clubType">類別：</p>
								   </div>
								   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<p id="clubCreateTime">創立時間：</p>
								   </div>
							   </div>
							    <div class="row">
								   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<p id="clubPlace">聚會地點：</p>
								   </div>
								   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<p id="clubMemberNumber">讀書會人數：</p>
								   </div>
							   </div>
							</div>
						</div>

						<div class="panel panel-default shaddow">
							<div class="panel-body">
								<h4>近期聚會</h4>
								<hr>
								<div class="row">
									<div class="recentMeet"></div>
								</div>
							</div>
						</div>						
					
						<div class="shaddow">
							<div class="month">
								<ul>
									<!--<li class="prev">&#10094;</li>-->
									<!--<li class="next">&#10095;</li>-->
									<li>
									June
									<br>
									<span style="font-size:18px">2017</span>
									</li>
								</ul>
							</div>

							<ul class="weekdays">
								<li>Sunday</li>
								<li>Monday</li>
								<li>Tuesday</li>
								<li>Wednesday</li>
								<li>Thursday</li>
								<li>Friday</li>
								<li>Saturday</li>
							</ul>

							<ul class="days">
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date1">
											1
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date2">
											2
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date3">
											3									
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date4">
											4
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date5">
											5
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date6">
											6
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date7">
											7
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date8">
											8
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date9">
											9
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date10">
											10
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date11">
											11
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date12">
											12
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date13">
											13
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date14">
											14
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date15">
											15
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date16">
											16
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date17">
											17
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date18">
											18
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date19">
											19
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date20">
											20
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date21">
											21
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date22">
											22
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date23">
											23
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date24">
											24
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date25">
											25
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date26">
											26
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date27">
											27
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date28">
											28
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date29">
											29
										</div>
									</div>
								</li>
								<li>
									<div class="panel panel-default">
										<div class="panel-body" id="date30">
											30
										</div>
									</div>
								</li>
							</ul>						
						</div>
					
					<br>
					</div>
				</div>
		    </div>
	        </div>
        </div>
		
		<div id="footer"></div>
    </body>
</html>
