<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Cluster-Frontend/style/createClub.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/Cluster-Frontend/app/index.js"></script>    
    </head>
    <body>
        <div class="landingPage">
            <div id="navbar"></div>            
            
            <div class="container">
                <br><br><br><br><br><br><br>
                <div class="title">
                    <h1>Create Your Own Study Club</h1>
                </div>                            
                <br><br><br><br><br><br><br><br>
            </div>            
        </div>
        <br><br>
        <div class="container">            
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">                    
                    <form role="form">                    
                        <div class="form-group">                            
                            <h3>讀書會名稱</h3>
                            <input type="text" class="form-control" id="clubname" placeholder="請輸入讀書會名稱...">
                            <br>

                            <h3>描述</h3>                            
                            <textarea name="" id="clubDescription" class="form-control" rows="3" required="required" placeholder="請簡述此讀書會的用途、目標、期望等等...."></textarea>                            
                            <br>

                            <h3>地點</h3>                            
                            <select name="" id="clubPlace" class="form-control" required="required">
                                <option value="台北市">台北市</option>
                                <option value="新北市">新北市</option>
                                <option value="桃園市">桃園市</option>
                                <option value="新竹市">新竹市</option>
                                <option value="新竹縣">新竹縣</option>
                            </select>
                            <br>

                            <h3>讀書會類別</h3>                            
                            <select name="" id="clubPlace" class="form-control" required="required">
                                <option value="學術">學術</option>
                                <option value="科技">科技</option>
                                <option value="藝術">藝術</option>
                                <option value="生活">生活</option>
                                <option value="餐飲">餐飲</option>
                            </select>
                            <br>

                            <h3>上傳讀書會圖片</h3>                            
                            <input id="input-1a" type="file" class="file" data-show-preview="false"> 
                            <br>

                        </div>
                                            
                        <button type="submit" class="btn pull-right" style="background-color: #FF5511; color:white; width: 80px;">創立</button>
                    </form>                    
                </div>
            </div>
            <br>                                    
        </div>
        
    </body>
</html>