<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/Cluster-Frontend/app/navbar.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/Cluster-Frontend/style/navbar.css">
        <script src="/Cluster-Frontend/app/navbarLogin.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse" style="background-color: #FFFFFF; border-color: transparent;">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Cluster-Frontend/view/index.html" onclick='toIndex()' style="color: #FF5511; font-family:fantasy;"><b>Cluster</b></a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="login-window" style="color: #007799" id="loginname">彭旻浩</a></li>
                    <li><a href="/Cluster-Frontend/view/createClub.html" class="login-window" style="color: #FF5511"><b>Create a Club</b></a></li>
                    <li><a href="#" class="login-window" style="color: #007799" id="signout">Sign out</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>
