<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/Cluster-Frontend/app/navbar.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/Cluster-Frontend/style/navbar.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/view/index.html" onclick='toIndex()'>Cluster</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">sign up</a></li>
                    <li><a href="#login-box" class="login-window">log in</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>
