<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/Cluster-Frontend/app/navbar.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/Cluster-Frontend/style/navbar.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse" style="background-color: #FFFFFF; border-color: transparent;">            
            <div class="navbar-header">
                <a class="navbar-brand" href="/Cluster-Frontend/view/index.html" onclick='toIndex()' style="color: #FF5511; font-family:fantasy;">Cluster</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">                    
                    <li><a href="#login-box" class="login-window" style="color: #007799">log in</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>
