<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/Cluster-Frontend/app/club/sidebar.js"></script>
		<script src="/Cluster-Frontend/app/club/club.js"></script>  
    </head>
    <body>
        <div class="profile-sidebar">
		    <div class="profile-userpic">
		        <img id="clubImg" class="img-responsive" style='width:250px;height:250px'>
		    </div>
    	    <div>
			    <h3 id="clubSidebarName"></h3>
			</div>
		    <div>				
                <button type="button" class="btn btn-success btn-sm" id="joinClubbtn">
                   加入社團
                </button>  				              
            </div>
			<div class="profile-usermenu">
	            <ul class="nav">
		    	      <li class="active">
				        <a href="/Cluster-Frontend/view/club/clubIndex.html">
                            <i class="glyphicon glyphicon-home"></i>
						    簡介
                        </a>
			        </li>
					<li>
                        <a href="/Cluster-Frontend/view/club/clubMember.html">
                            <i class="glyphicon glyphicon-user"></i>
                            成員
                        </a>
					</li>
                    <li>
						<a href="/Cluster-Frontend/view/club/clubReport.html">
						    <i class="glyphicon glyphicon-folder-open"></i>
						    會後整理
                        </a>
					</li>
				</ul>
		    </div>
        </div>
    </body>
</html>